.btn-blue {
  background-color: #001632;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: lighter;
  padding: 15px 25px;
  opacity: 0.8;
  transition: all .7s;
}
.btn-blue:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
}
